@{
  Layout = "~/Views/Shared/_LayoutCustom.cshtml";
  ViewData["Title"] = "Test Page";
}

<div class="relative overflow-hidden min-h-[100vh]">
  @await Html.PartialAsync("_NavBar")
  <main class="grid place-items-center p-6 max-w-[900px] mx-auto relative z-10">
    <div style="grid-column: 3/-1;">
      <h1 class="text-5xl font-bold mb-4">ALWAYS <span class="text-[#F40000]">BEST SERVED TRACKING</span></h1>
      <p class="text-xl font-medium mb-[20%]">
        Our marketing potential can be unlocked with accurate tracking that improves each campaign. Make data-driven decisions and real-time insights to stay ahead of other businesses. With our web-based system, you have complete control and are always in the driver's position. Reduce unpredictability from marketing and observe efficient growth. 
        <br> Our goal at Enhance Tracking is your success.
      </p>
      <div class="flex items-center justify-center">
        <a asp-area="" asp-controller="Home" asp-action="ProductSelection"  class="inline-block bg-[#F40000] text-white shadow-[5px_5px_5px_5px_rgba(0,0,0,0.25)] px-6 py-4 text-3xl cursor-pointer">View Products</a>
      </div>
    </div>
  </main>

  <img src="~/images/group.png" class="absolute bottom-0 left-0 w-[600px]" style="object-fit: contain; z-index: 50;"/>

  <img src="~/images/diag-1.jpg" class="absolute top-0 left-0"/>
  <img src="~/images/diag-2.jpg" class="absolute top-0 right-0 h-[400px]"/>
  <img src="~/images/diag-3.jpg" class="absolute -bottom-[20%] right-0"/>
</div>
