@{
    ViewData["Title"] = "Home Page";
}


<style>
    h1, p {
        font-family: 'Lora', serif;
        font-family: 'Playfair Display', serif
    }

    #slogan1 {
        font-size: 100px;
    }

    #form-box {
        margin-top: 200px;
        margin-left: 250px;
        backdrop-filter: blur(3px);
        box-shadow: 8px 10px grey;
        border-radius: 15px;
        width: 850px;
    }
</style>


<body>
    <div class="text-center" id="form-box" style="border: 1px outset grey">
        <h1 class="display-4" id="slogan1">Dawn Winery</h1>
        <p><i>"Shine True, Forget not whence thou came"</i></p>
    </div>
</body>