<nav class="flex items-center justify-end gap-4 p-6 max-w-[1024px] mx-auto relative z-10">
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">Home</a>
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">Services</a>
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">Contact</a>
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">Faq</a>
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">About us</a>
  <a asp-area="" asp-controller="Home" asp-action="Index" class="text-lg font-medium uppercase">Search Box</a>
</nav>